*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: url(../IMG/background.jpg);
    color: white;
}
header .haut {
    /*Mbola tedavina e*/
}
header .haut ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: white;
}
                                        /*dv,dkvzlvzj,*/